.input-field {
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.text-input {
  padding-inline: 15px;
  padding-block: 15px;
  font-weight: 500;
  font-size: large;
  color: var(--primary-marine-blue);
  border-radius: 10px;
  border: 1px solid var(--neutral-light-gray);
}

.text-input:focus {
  border: 1px solid var(--primary-purplish-blue);
}

.error-border {
  border: 1px solid var(--primary-strawberry-red);
}

.error {
  position: absolute;
  color: var(--primary-strawberry-red);
  left: 590px;
  font-weight: bolder;
}

label {
  margin-bottom: 10px;
  font-weight: 600;
}
