.app {
  width: 50vw;
  height: 570px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info-form {
  flex-grow: 1;
  padding: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  grid-column: span 7 / span 7;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
  margin-top: auto;
}

.btn-submit,
.btn-next,
.btn-back {
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 0px;
}

.btn-back:hover,
.btn-next:hover,
.btn-submit:hover {
  cursor: pointer;
}

.btn-back {
  color: var(--neutral-cool-gray);
  background-color: var(--neutral-white);
  &:hover {
    color: var(--primary-marine-blue);
  }
}

.btn-next {
  color: var(--neutral-white);
  background-color: var(--primary-marine-blue);
}

.btn-submit {
  color: var(--neutral-white);
  background-color: var(--primary-purplish-blue);
}

@media screen and (max-width: 768px) {
  .app {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .app {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 5px;
  }
  .info-form {
    position: relative;
    border-radius: 5px;
    bottom: 115px;
    padding: 15px;
    margin: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--neutral-white);
  }
}
