.app {
  width: 750px;
  height: 570px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info-form {
  flex-grow: 1;
  padding: 40px;
  padding-left: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
}

.btn-submit,
.btn-next,
.btn-back {
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 0px;
}

.btn-back:hover,
.btn-next:hover,
.btn-submit:hover {
  cursor: pointer;
}

.btn-back {
  color: var(--neutral-cool-gray);
  background-color: var(--neutral-white);
  &:hover {
    color: var(--primary-marine-blue);
  }
}

.btn-next {
  color: var(--neutral-white);
  background-color: var(--primary-marine-blue);
}

.btn-submit {
  color: var(--neutral-white);
  background-color: var(--primary-purplish-blue);
}
